 {% extends "layout.html" %}
 {% block content %}

 <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">

 	<div class="content-section alum">
		 	
	</div>
 		</div>
 		<h2 class="account-heading name">{{ user }}</h2>
		<p class="text-secondary email">{{ email }}</p>


 		<div class="content-section">
 		<form method="POST" action="" enctype="multipart/form-data">
 			{{ form.hidden_tag() }}
 			<fieldset class="form-group">
 				<legend class="border-bottom mb-4 gallery">Gallery<em>(Your memories from LLR days)</em></legend>

 				<div class="form-group">
					 {{ form.picture(class="form-control-file")}}
					 {{form.submit(class="btn btn-outline-primary")}}
 					{% if form.picture.errors %}
 						{% for error in form.picture.errors %}
 							<span class="text-danger">{{ error }}</span><br>
						{% endfor %}
 					{% endif %}
 				</div>

 			</fieldset>
 			<div class="form-group">
				<div class="media">
					{% for image_file in gallery %}
						<img class="circle account-img gallery-images" src="{{ image_file }}" /><br><br><br>
				   {% endfor %}
				
 		</form>
 	</div>
 	</div>


 {% endblock content %}